:host {
  width: 70%;
  display: flex;
  align-items: flex-end;
}

.card_title {
  font-size: 60px;
  font-weight: 600;
  letter-spacing: 5px;
  text-transform: uppercase;
}


.container_title_description {
  width: 50%;
  span {
    font-size: 12px;
    margin-top: 50px;
  }
  .card_description {
    font-size: 14px;
    margin: 20px 0 15px;
  }
}

.container_img_button {
  display: flex;
  height: 100%;
  margin-left: 15px;

  .img {
    background-image: url('../../assets/img/FZ-auhgXoAE1FnB.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: 400px;
    display: flex;
    align-items: flex-end;


    button {
      padding: 7px 14px;
      font-size: 11px;
      font-weight: 600;
      letter-spacing: 1px;
      text-transform: uppercase;
      background-color: hsl(273, 100%, 80%);
      display: flex;
      align-items: center;
      i {
        background-image: url('../../assets/img/arrow-right-regular.svg');
        background-repeat: no-repeat;
        width: 11px;
        height: 11px;
        margin-left: 1em;
      }
    }
  }
}


