<div class="container_title_description">
  <h1 class="card_title">Top 50 Albums of 2022</h1>
  <p class="card_description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
  <span>{{author}} • {{averageTime}} minutes read</span>
</div>
<div class="container_img_button">
  <div class="img">
    <button class="action_button">
      Read Up
      <i class="action_button_icon"></i>
    </button>
  </div>
</div>
