:host {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}
div {
  width: 70%;
}

h2 {
  font-size: 22px;
  font-weight: 500;

  &:hover {
    text-decoration: underline;
  }
}

span {
  font-size: 12px;
}


button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  position: relative;
  bottom: -6px;

  i {
    background-image: url('../../../assets/img/arrow-right-light.svg');
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;

    &:hover {
      filter: invert(100%) sepia(80%) saturate(5370%) hue-rotate(190deg) brightness(109%) contrast(111%);
      transition: 0.15s;
    }
  }
}
