<app-nav-bar></app-nav-bar>
<main>
  <app-card-principal></app-card-principal>
  <div class="container_cards">
    <h3>POPULAR POSTS</h3>
    <ul>
      <li>
        <app-cards-secundarios author="Eduardo Nunes" title="Kate Bush's influence on today's industry"
          averageTime="7"></app-cards-secundarios>
      </li>
      <li>
        <app-cards-secundarios author="Tom Jones" title="What happened to Kanye West"
          averageTime="6"></app-cards-secundarios>
      </li>
      <li>
        <app-cards-secundarios author="Natalie Nery" title="Album review: SZA's SOS"
          averageTime="5"></app-cards-secundarios>
      </li>
    </ul>
  </div>
</main>
<router-outlet></router-outlet>
