.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 5px 0px rgb(86 61 124 / 30%);
  padding: 15px 45px;
}

.container_logo_search {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    background-image: url('../../assets/img/head-side-headphones-solid.svg');
    background-repeat: no-repeat;
    filter: invert(13%) sepia(100%) saturate(5659%) hue-rotate(275deg) brightness(60%) contrast(114%);
    width: 50px;
    height: 55px;
    margin-right: 50px;
  }

  .search_container {
    display: flex;
    align-items: center;

    .magnifier_icon {
      background-image: url('../../assets/img/magnifying-glass-light.svg');
      background-repeat: no-repeat;
      filter: invert(13%) sepia(100%) saturate(5659%) hue-rotate(275deg) brightness(60%) contrast(114%);
      width: 18px;
      height: 20px;
      margin-right: 1em;
    }

    .input_search {
      padding: 5px 0;
      color: hsl(273, 100%, 30%);

      &::placeholder {
        color: hsl(273, 100%, 30%);
      }
    }
  }


}

.container_options {
  ul {
    display: flex;
    flex-direction: row;

    li {
      margin-left: 40px;
      display: flex;

      .options_icons {
        background-repeat: no-repeat;
        width: 25px;
        height: 25px;
        filter: invert(13%) sepia(100%) saturate(5659%) hue-rotate(275deg) brightness(60%) contrast(114%);

        &:hover {
          transition: 0.2s;
          filter: invert(100%) sepia(80%) saturate(5370%) hue-rotate(190deg) brightness(109%) contrast(111%);
        }

      }

      .notification_icon {
        background-image: url('../../assets/img/bell-light.svg');
      }

      .new_post_icon {
        background-image: url('../../assets/img/pen-to-square-light.svg');
      }

      .profile_pic {
        background-image: url('../../assets/img/circle-user-light.svg');
      }
    }
  }
}
