<div class="menu">
  <div class="container_logo_search">
    <span class="logo"></span>
    <div class="search_container">
      <span class="magnifier_icon"></span>
      <input class="input_search" placeholder="Look for content" type="text">
    </div>
  </div>
  <div class="container_options">
    <ul>
      <li><i class="options_icons new_post_icon"></i></li>
      <li><i class="options_icons notification_icon"></i></li>
      <li><span class="options_icons profile_pic"></span></li>
    </ul>
  </div>
</div>
