<div>
  <app-card-principal author="Alexander Archer" averageTime="10"></app-card-principal>
  <article class="container_cards">
    <h3>POPULAR POSTS</h3>
    <ul>
      <li>
        <app-cards-secundarios author="Eduardo Nunes" title="Kate Bush's influence on today's industry"
          averageTime="7"></app-cards-secundarios>
      </li>
      <li>
        <app-cards-secundarios author="Tom Jones" title="What happened to Kanye West"
          averageTime="6"></app-cards-secundarios>
      </li>
      <li>
        <app-cards-secundarios author="Natalie Nery" title="Album review: SZA's SOS"
          averageTime="5"></app-cards-secundarios>
      </li>
    </ul>
  </article>
</div>
<article class="recommendations">
  <h4>You might also like</h4>
  <div>
    <app-might-like-cards title="What is Frank Ocean up to?" imgUrl="assets/img/frank.webp"></app-might-like-cards>
    <app-might-like-cards title="Billie Eilish, same interview, 6th year" imgUrl="assets/img/billie.webp"></app-might-like-cards>
    <app-might-like-cards title="The reason for The Weeknd's consistent stardom" imgUrl="assets/img/the_weeknd.jpg"></app-might-like-cards>
  </div>
</article>
