<div>
  <app-card-principal author="Alexander Archer" averageTime="10" imgUrl="assets/img/FZ-auhgXoAE1FnB.jpg"
    cardDescription="Lorem Ipsum is sirem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.">
  </app-card-principal>
  <article class="container_cards">
    <h3>POPULAR POSTS</h3>
    <ul>
      <li>
        <app-cards-secundarios author="Eduardo Nunes" title="Kate Bush's influence on today's industry"
          averageTime="7"></app-cards-secundarios>
      </li>
      <li>
        <app-cards-secundarios author="Tom Jones" title="What happened to Kanye West"
          averageTime="6"></app-cards-secundarios>
      </li>
      <li>
        <app-cards-secundarios author="Natalie Nery" title="Album review: SZA's SOS"
          averageTime="5"></app-cards-secundarios>
      </li>
    </ul>
  </article>
</div>
<article class="recommendations">
  <h4>You might also like</h4>
  <div>
    <app-might-like-cards title="What is Frank Ocean up to?" imgUrl="assets/img/frank.webp"
      cardDescription="Lorem Ipsum dolor sit amet, consectetur adipiscing elit, sed do"></app-might-like-cards>
    <app-might-like-cards title="Billie Eilish, same interview, 6th year" imgUrl="assets/img/billie.webp"
      cardDescription="Lorem Ipsum dolor sit amet, consectetur adipiscing elit, sed do"></app-might-like-cards>
    <app-might-like-cards title="The reason for The Weeknd's consistent stardom"
      cardDescription="Lorem Ipsum dolor sit amet, consectetur adipiscing elit, sed do"
      imgUrl="assets/img/the_weeknd.jpg"></app-might-like-cards>
  </div>
</article>
